<% provide(:title, 'About Us') %>
<h1>About NoteIt!</h1>
<p>
  The NoteIt! microblog service is designed to compliment the XpoIt... mobile application that is designed for the WIT student fair. Users of the service can view and comment on student project profiles.
</p>