<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any queries, please do not hesitate to 
  <a href="mailto:queryxpoitportal@gmail.com?Subject=Blog%20contact" target="_top">
Contact Us</a>.
</p>