<footer class="footer">
  <small>
    Brid Mackey 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://xpoitapp.com/">Xpoit...</a></li>
    </ul>
  </nav>
</footer>